<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет News-->
{% block title %}
    News
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
    <h3> {{ news|length }} </h3>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата</td>
                <td>Текст</td>
            </tr>

            {% for some_news in news %}
                <tr>
                    <td>{{ some_news.title|remove_obscene }}</td>
                    <td>{{ some_news.crated_at }}</td>
                    <td>{{ some_news.content|truncatewords:20|remove_obscene }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        {# Для каждой ссылки пагинации указываем обработку через новый тег #}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}